* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.gameboard-container {
  width: 530px;
  height: 612px;
  background-color: beige;
}

.gameboard-row {
  display: flex;
}

.gameboard-square {
  font-size: 4rem;
  width: 177px;
  height: 204px;
  padding: 1em;
  border: 1px solid black;
  cursor: pointer;
}

.gameboard-square:hover {
  background-color: blanchedalmond;
}
